<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,0" />
	<link rel="stylesheet" href="/styles/pages/search/daterangepicker.css">
	<link rel="stylesheet" href="/styles/pages/notification/promotion.css">
	<title>2WAYS.com</title>
</head>

<body>

	<%- include('../../partials/header-medium') %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
		{ text: 'Trang chủ', link: "/" },
		{ text: 'Thông báo', link: "#"},
		{ text: 'Thông tin khuyến mãi', link: "/notifications/promotion"}
	] }) %>

	<main class="nofi-container">
		<aside class="aside-wrapper">
			<div class="aside-wrapper__aside-info">
				<img class="aside-wrapper__aside-avatar" src="/imgs/user/<%=user.avatar%>" alt="avatar" />
				<div class="aside-wrapper__aside-title">
					<p>Thông báo</p>
				</div>
			</div>
			<hr />
			<div class="aside-wrapper__aside-section">
				<a href="/notifications/account-update" class="btn-update">Cập nhật tài khoản</a>
				<a href="/notifications/promotion" class="btn-promo">Thông tin khuyến mãi</a>
			</div>
		</aside>

		<section class="nofi__main">
			<button class="btn--outlined pri btn-read-all">Đánh dấu tất cả là đã đọc</button>
			<% if (data_noti.length == 0) { %>
			<h3>Bạn chưa có thông báo</h3>
			<% } else { %>
			<% for (let i = 0; i < data_noti.length; i++) {%>
			<%- include('../../components/noti-item-promo', {'noti': data_noti[i], 'index': i}) %>
			<% }}%>

		</section>
	</main>

	<%- include('../../partials/footer.ejs') %>

	<script src="/scripts/notifications/promotion.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>

</body>

</html>