<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Hủy đơn giao dịch của bạn và bắt đầu một hành trình mới khác cùng 2WAYS">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/booking/cancellation.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-small') %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: '/' },
        { text: 'Hủy phòng', link: "" }
    ] }) %>

	<main class="content-container">

		<section class="main-content">
			<div class="cancel-status">
				<h1>Đặt phòng của bạn ở <%= data[0].city_name %> đã được <span>hủy miễn phí</span>
				</h1>
			</div>

			<div class="cancel-description">
				<div class="cancel-description__item">
					<span class="material-symbols-outlined">done</span>
					<h3>Xác nhận hủy phòng đang được gửi tới <%= data[0].book_email %>.</p>
					</h3>
				</div>
				<div class="cancel-description__item">
					<span class="material-symbols-outlined">done</span>
					<h3>Đặt phòng của bạn đã được hủy thành công - bạn không cần làm thêm gì nữa!</p>
					</h3>
				</div>
				<div class="cancel-description__item">
					<span class="material-symbols-outlined">done</span>
					<h3>Nếu có bất kỳ phát sinh nào về chi phí, hãy liên hệ với <a class="hotel" href="https://daa.uit.edu.vn/"><%= data[0].acco_name %></a> để biết thêm thông tin.</h3>
				</div>
			</div>
			<div class="cancel__button">
				<a href="/search/<%= data[0].acco_id %>" class="cancel__button--submit1">Đặt lại</a>
				<a href="/" class="cancel__button--submit2">Tìm chỗ nghỉ khác</a>
			</div>
		</section>
		<section class="extend-content">
			<h2>Tóm tắt hủy đặt phòng</h2>
			<div class="cancel-summary__item">
				<div class="hotel-detail">
					<img src="/imgs/accommodation/<%= data[0].acco_img_url %>" alt="">
					<div class="rating">
						<p><%= data[0].acco_name %></p>
						<% for (let i = 0; i < data[0].acco_star; i++) { %>
						<span class="material-symbols-outlined">star</span>
						<% } %>
					</div>
				</div>
				<div class="cancel-summary__content">
					<div class="cancel-summary__content--title">
						<p>Nhận phòng</p>
					</div>
					<div class="cancel-summary__content--text">
						<p> <%if(data[0].book_start_dayofweek==1) { %> CN,
							<% } else { %>
							T<%= data[0].book_start_dayofweek %>,
							<% } %> ngày
							<%= data[0].book_start_day %> tháng
							<%= data[0].book_start_month %> năm
							<%= data[0].book_start_year %>
						</p>
					</div>
					<div class="cancel-summary__content--title">
						<p>Thông tin lưu trú</p>
					</div>
					<div class="cancel-summary__content--text">
						<p> <%= datax[0].book_num_room %> phòng,
							<%= data[0].book_num_day %> đêm
						</p>
					</div>
					<div class="cancel-summary__content--title">
						<p>Trả phòng</p>
					</div>
					<div class="cancel-summary__content--text">
						<p> <%if(data[0].book_end_dayofweek==1) { %> CN,
							<% } else { %>
							T<%= data[0].book_end_dayofweek %>,
							<% } %> ngày
							<%= data[0].book_end_day %> tháng
							<%= data[0].book_end_month %> năm
							<%= data[0].book_end_year %>
						</p>
					</div>
				</div>
			</div>

			<div class="total-price">
				<h3>Chi phí hủy đặt phòng</h3>
				<p>Miễn phí</p>
			</div>
		</section>

	</main>

	<%- include('../../partials/footer') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>