<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Thông tin về khách hàng và đơn giao dịch luôn được lưu trữ và bảo vệ bởi 2WAYS.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/booking/information.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-small', { user }) %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Đặt phòng', link: "#"},
        { text: 'Điền thông tin đặt phòng', link: "/booking/information" }
    ] }) %>

	<main>
		<div class="payment--container">
			<aside class="aside--wrapper">
				<div class="hotel-detail">
					<div class="type-hotel">
						<h6><%= data.acco.type %></h6>
						<div class="starts-icon">
							<% for (let i = 0; i < data.acco.star; i++) { %>
							<span class="material-symbols-outlined filled-start star" >
								star_rate
							</span>
							<% } %>
							<% for (let i = 0; i < 5 - data.acco.star; i++) { %>
							<span class="material-symbols-outlined unfilled-start grade" >
								star_rate
							</span>
							<% } %>
						</div>
					</div>
					<h5><b><%= data.acco.name %></b></h5>
					<a href="<%= data.acco.location_link %>"><%= data.acco.exac_location %></a>
				</div>

				<div class="your-booking-detail">
					<h1>Chi tiết đặt phòng của bạn</h1>
					<div class="check-date">
						<div class="checkin-date">
							<h5>Nhận phòng</h5>
							<h5><b><%= data.search.check_in %></b></h5>
							<h5>Từ 12:00</h5>
						</div>

						<div class="checkout-date">
							<h5>Trả phòng</h5>
							<h5><b><%= data.search.check_out %></b></h5>
							<h5>Cho đến 14:00</h5>
						</div>
					</div>

					<div class="total-length-stay">
						<h5>Tổng thời gian lưu trú</h5>
						<h5><b><%- data.days %> đêm</b></h5>
					</div>

					<hr>

					<div class="your-choice">
						<h5>Bạn đã chọn</h5>
						<h5><b><%= data.acco.name %></b></h5>
						<a href="javascript:history.back()"><b>Đổi lựa chọn của bạn</b></a>
					</div>

					<div class="cost-total">
						<% if (data.book.cost_before == data.book.cost_after) { %>
						<div class="cost">
							<h1>Giá</h1>
							<h1>VND <%= data.book.cost_after %></h1>
						</div>
						<% } else { %>
						<h6 class="red-line">VND <%= data.book.cost_before %></h6>
						<div class="cost">
							<h1>Giá</h1>
							<h1>VND <%= data.book.cost_after %></h1>
						</div>
						<% } %>

						<h6>Đã bao gồm thuế và phí</h6>
					</div>
				</div>

				<div class="cancel-fee">
					<h5><b>Chi phí hủy phòng</b></h5>
					<div class="cancel-free">
						<span class="material-symbols-outlined">check_circle</span>
						<h6>Miễn phí hủy phòng</h6>
					</div>
				</div>

			</aside>
			<form  method="POST" action="/booking/information">
				<section id="" class="section--content">
					<div class="confirm-account">
						<img src="/imgs/user/<%= user.avatar ?? 'default.jpg' %>" alt="">
						<div class="account-detail">
							<h5>Bạn đã đăng nhập bằng:</h5>
							<div class="email-logout">
								<h5><%= user.email %></h5>
							</div>
						</div>
					</div>
				</section>

				<section id="" claas="section--content">
					<div class="info-bill">
						<h3>Nhập thông tin của bạn</h3>
						<span class="note-text" >Thông tin có dấu <span>*</span> là những thông tin bắt buộc.</span>
						<div class="form--item row info-bill--form-item" >
							<div class="col-6">
								<h4 class="required">Họ</h4>
								<input class="form-control" type="text" name="last_name" placeholder="Nhâp họ vào đây" value='<%= user.last_name %>' required>
							</div>
							<div class="col-6">
								<h4 class="required">Tên</h4>
								<input class="form-control" type="text" name="first_name" placeholder="Nhập tên vào đây" value="<%= user.first_name %>" required>
							</div>
						</div>

						<div class="form--item">
							<h4 class="required">Địa chỉ email</h4>
							<input class="form-control" type="email" name="email" placeholder="Nhập email vào đây" value="<%= user.email %>" required>
							<span class="note-text">Email xác nhận đặt phòng sẽ được gửi đến địa chỉ này.</h5>
						</div>

						<div class="form--item">
							<h4 class="required">Điện thoại cá nhân</h4>
							<input class="form-control" type="text" name="phone" placeholder="Nhập số điện thoại vào đây" required>
							<span class="note-text">Cần thiết để xác nhận đặt phòng của bạn.</h5>
						</div>
					</div>
				</section>

				<section id="" class="section--content">
					<div class="info-room">
						<h4>Phòng giường đôi hướng biển</h4>
						<ul>
							<li>Bao gồm chỗ đậu xe + Internet tốc độ cao</li>
							<li>Nhận phòng sớm + Trả phòng trễ + Miễn phí hủy bất kỳ lúc nào</li>
							<li>Khách: 2 người lớn</li>
							<li>Không hút thuốc</li>
						</ul>
						<div class="ext__list">
							<span class="ext__item">
								<span class="material-symbols-outlined">search</span>
								17 m2
							</span>
							<span class="ext__item">
								<span class="material-symbols-outlined">beach_access</span>
								Hướng biển
							</span>
							<span class="ext__item">
								<span class="material-symbols-outlined">apartment</span>
								Nhìn ra thành phố
							</span>
							<span class="ext__item">
								<span class="material-symbols-outlined">ac_unit</span>
								Điều hòa không khí
							</span>
							<span class="ext__item">
								<span class="material-symbols-outlined">bathtub</span>
								Phòng tắm riêng
							</span>
							<span class="ext__item">
								<span class="material-symbols-outlined">
									tv_gen
								</span>
								TV màn hình phẳng
							</span>

						</div>

						<div class="mt-16">
							<h4>Quyền lợi của bạn</h4>
							<div class="row mt-8">
								<div class="col-1">
									<span class="material-symbols-outlined icon--filled green">
										new_releases
									</span>
								</div>
								<div class="col-11 green">
									<span >Giảm giá 10%</span>
									<span >Bạn được giảm 10% trên tổng giá trị trước khi áp dụng thuế và phí</span>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="" class="section--content">
					<div class="special-request">
						<h4>Các yêu cầu đặc biệt</h4>
						<p class="note-text">Các yêu cầu này không đảm bảo sẽ được đáp ứng - tuy nhiên, chúng tôi sẽ cố gắng hết sức để thực hiện. Bạn có thể gửi yêu cầu đặc biệt ngay sau khi hoàn tất đặt phòng.</p>
						<p class="note-text">Vui lòng ghi yêu cầu tại đây (Không bắt buộc)</p>
						<input class="form-control" name="note" type="text">
					</div>
				</section>
				<button type="button" class="btn--filled sec">
					<div class=" status-layer">
						<span><b>Thanh toán</b></span>
					</div>
				</button>
			</form>
		</div>
	</main>

	<%- include('../../partials/footer') %>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/booking/information.js"></script>

</body>

</html>