<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Hành trình của 2WAYS và bạn sẽ được bắt đầu từ đây">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/search/detail.css" />

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-medium', { user }) %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Chi tiết chỗ ở', link: "#" }
    ] }) %>

	<main class="content-container">
		<section class="title">
			<h1> <%= accoDetail.acco_name %> </h1>
			<div class="title__frame">
				<div class="title__info info">
					<div class="info__slogan"> <%= accoDetail.acco_logan %> </div>
					<div class="info__category">
						<div class="info__acco-type"> <%= accoDetail.acco_type %> </div>
						<div class="info__rank">
							<% for (let i=0; i < accoDetail.acco_star; i++) { %>
							<span class="material-symbols-outlined">grade</span>
							<% } %>
							<% for (let i=0; i < 5 - (accoDetail.acco_star); i++) { %>
							<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
							<% } %>
						</div>
					</div>
					<div class="info__location">
						<span class="material-symbols-outlined">location_on</span>
						<a href="<%= accoDetail.acco_location_link %>" target="blank">
							<%= accoDetail.acco_exac_location%>,
							<% if (accoDetail.city_name) { %>
							<%= accoDetail.city_name %>,
							<% } %>
							<% if (accoDetail.prov_name) {%>
							<%= accoDetail.prov_name %>,
							<% } %>
							Việt Nam
						</a>
					</div>
				</div>
				<div class="title__btn">
					<a href="#room-list" role="button">Chọn phòng</a>
				</div>
			</div>
		</section>

		<section class="preview">
			<% if (!accoImg) { %>
			<p> Không có ảnh </p>
			<% } else { %>
			<img src="/imgs/accommodation/<%= accoImg[0].acco_img_url %>" alt="<%= accoImg.acco_img_url %>" class="preview--big" />
			<div class="preview--small">
				<% for (let i=1; i < 4; i++) { %>
				<img src="/imgs/accommodation/<%= accoImg[i].acco_img_url %>" alt="<%= accoImg[i].acco_img_url %>" />
				<% } %>
			</div>
			<% } %>
		</section>

		<section class="short-info">
			<div class="short-info__intro">
				<h2>Giới thiệu</h2>
				<p> <%= accoDetail.acco_detail %> </p>
			</div>
			<div class="short-info__feature feature">
				<h2>Đặc điểm nổi bật</h2>
				<div class="feature__group">
					<%accoFea.forEach(function(feature){%>
					<div class="feature__item">
						<span class="material-symbols-outlined"> <%= feature.fea_icon %> </span>
						<p> <%= feature.fea_name %> </p>
					</div>
					<% }) %>
				</div>
			</div>
		</section>

		<section class="room-list" id="room-list">
			<form action="/search/<%= accoDetail.acco_id %>" id="booking-form" method="POST">
				<input type="hidden" value="<%= accoDetail.acco_id %>" name="acco_id" class="form-control">
				<% accoRoom.forEach(function(room) {%>
				<input type="hidden" value="<%= room.room_id %>" name="room_id" class="form-control">
				<input type="hidden" value="<%= room.room_cost %>" name="room_cost_before" class="form-control">
				<input type="hidden" value="<%= room.room_cost_after %>" name="room_cost_after" class="form-control">
				<%- include('../../components/room', {room}) %>
				<% }) %>
				<h2 class="room-list__local-price">Tổng tiền: <span class="highlight">VND <span class="total-price">0</span></span> <span class="room__unit">/đêm</span></h2>
				<div class="room-list__submit">
					<button type="submit" class="room-list__submit-button" disabled>Đặt phòng</button>
				</div>
			</form>
		</section>

		<section class="general-info">
			<div class="general-info--left">
				<h2>Thông tin chung</h2>
				<img src="/imgs/accommodation/<%= accoImg[0].acco_img_url %>" alt="" />
			</div>
			<div class="general-info--right">
				<div class="general-info__time time">
					<span class="material-symbols-outlined">schedule</span>
					<div class="time__text">
						<p class="time__text--top">Thời gian nhận/trả phòng</p>
						<div class="time__text--bottom">
							<p>Giờ nhận phòng: Từ 12:00</p>
							<p>Giờ trả phòng: Trước 12:00</p>
						</div>
					</div>
				</div>
				<div class="general-info__item bg-gray">
					<p class="general-info__item--left">Tiện ích chung</p>
					<p class="general-info__item--right">
						<% accoExte.forEach(function(exte) { %>
						<%= exte.exte_name %>,&nbsp
						<% }) %>
					</p>
				</div>
				<div class="general-info__item">
					<p class="general-info__item--left">
						Khoảng cách đến trung tâm thành phố
					</p>
					<p class="general-info__item--right">100m</p>
				</div>
				<div class="general-info__item">
					<p class="general-info__item--left">Bữa sáng</p>
					<p class="general-info__item--right">Miễn phí</p>
				</div>
			</div>
		</section>

		<section class="comment">
			<div class="comment__filter">
				<div class="comment__filter__heading">
					<span class="material-symbols-outlined">swap_vert</span>
					<p class="comment__filter__title">Sắp xếp theo:</p>
				</div>

				<div class="filter_price">
					<input type="hidden" value="<%= accoDetail.acco_id %>" name="acco_id" id="acco_id">
					<div class="comment__filter__item" id="filter__item-rating">
						<p class="comment__filter__content">Số điểm</p>
						<span class="material-symbols-outlined dropdown-button">keyboard_arrow_down</span>
						<div class="dropdown-content">
							<input type="radio" id="rating-ZA" class="sort rating" name="rating" value="ZA" />
							<label for="rating-ZA" onclick="selectRadio('rating-ZA')" class="sort-label">Cao đến thấp</label>
							<input type="radio" id="rating-AZ" class="sort rating" name="rating" value="AZ" />
							<label for="rating-AZ" onclick="selectRadio('rating-AZ')" class="sort-label">Thấp đến cao</label>
						</div>
					</div>
				</div>

				<div class="filter-item-best">
					<div class="comment__filter__item" id="filter__item-time">
						<p class="comment__filter__content">Thời gian</p>
						<span class="material-symbols-outlined dropdown-button">expand_more</span>
						<div class="dropdown-content">
							<input type="radio" id="time-ZA" class="sort time-sort" name="time" value="ZA" />
							<label for="time-ZA" onclick="selectRadio('time-ZA')" class="sort-label">Mới nhất</label>
							<input type="radio" id="time-AZ" class="sort time-sort" name="time" value="AZ" />
							<label for="time-AZ" onclick="selectRadio('time-AZ')" class="sort-label">Cũ nhất</label>
						</div>
					</div>
				</div>
			</div>

			<div class="comment__items" id="filter-sort">
			</div>

			<div class="" id="paging">
			</div>

		</section>

	</main>

	<%- include('../../partials/footer') %>
	<%- include('../../components/fail-modal', {action: 'Số lượng phòng'}) %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/components/room.js"></script>
	<script src="/scripts/search/detail.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>