<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="2WAYS luôn đưa đến những kết quả tốt nhất cho khách hàng của mình">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/search/daterangepicker.css">
	<link rel="stylesheet" href="/styles/pages/search/results.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-medium') %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Tìm kiếm', link: "/search/results" }
    ] }) %>

	<main class="content-container">

		<aside class="filter-sidebar">
			<div class="filter-sidebar__expanded-map">
				<div class="filter-sidebar__map-icon">
					<span class="material-symbols-outlined icon--filled">location_on</span>
				</div>
				<div class="filter-sidebar__map-button">
					<a href="#" target="blank" type="button" class="btn map-button">Hiển thị trên bản đồ</a>
				</div>
			</div>

			<div class="filter-sidebar__main">
				<div class="filter-sidebar__heading">
					<p class="filter-sidebar__heading-content"><span class="material-symbols-outlined icon--filled">filter_alt</span>Chọn lọc theo:</p>
				</div>
				<hr />
				<div class="filter-sidebar__price">
					<p class="filter-sidebar__content">Mức giá: (Dành cho 1 đêm)</p>
					<div class="form-check">
						<input type="checkbox" name="price" class="form-check-input price" value="Dưới VND 200.000">
						<label class="form-check-label">Dưới VND 200.000</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="price" class="form-check-input price" value="VND 200.000 - VND 500.000">
						<label class="form-check-label">VND 200.000 - VND 500.000</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="price" class="form-check-input price" value="VND 500.000 - VND 1.000.000">
						<label class="form-check-label">VND 500.000 - VND 1.000.000</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="price" class="form-check-input price" value="Trên VND 1.000.000">
						<label class="form-check-label">Trên VND 1.000.000</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__type">
					<p class="filter-sidebar__content">Loại chỗ ở:</p>
					<div class="form-check">
						<input type="checkbox" name="acco_type" class="form-check-input acco-type" value="hotel">
						<label class="form-check-label">Khách sạn</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_type" class="form-check-input acco-type" value="resort">
						<label class="form-check-label">Biệt thự</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Căn hộ">
						<label class="form-check-label">Căn hộ</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Nhà nghỉ">
						<label class="form-check-label">Nhà nghỉ</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__cus-rate">
					<p class="filter-sidebar__content">Đánh giá của khách hàng:</p>
					<div class="form-check">
						<input type="checkbox" name="rating_point" class="form-check-input rating-point" value="9+">
						<label class="form-check-label__score">9+</label>
						<label class="form-check-label">Trên cả tuyệt vời</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="rating_point" class="form-check-input rating-point" value="8+">
						<label class="form-check-label__score">8+</label>
						<label class="form-check-label">Xuất sắc</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="rating_point" class="form-check-input rating-point" value="7+">
						<label class="form-check-label__score">7+</label>
						<label class="form-check-label">Rất tốt</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="rating_point" class="form-check-input rating-point" value="6+">
						<label class="form-check-label__score">6+</label>
						<label class="form-check-label">Hài lòng</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__bed-type">
					<p class="filter-sidebar__content">Loại giường:</p>
					<div class="form-check">
						<input type="checkbox" name="bed_type" class="form-check-input bed-type" value="Giường đơn">
						<label class="form-check-label">Giường đơn</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="bed_type" class="form-check-input bed-type" value="Giường đôi">
						<label class="form-check-label">Giường đôi</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="bed_type" class="form-check-input bed-type" value="Giường tầng">
						<label class="form-check-label">Giường tầng</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__distance">
					<p class="filter-sidebar__content">Khoảng cách đến trung tâm:</p>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Dưới 1km">
						<label class="form-check-label">Dưới 1km</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Dưới 3km">
						<label class="form-check-label">Dưới 3km</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Dưới 5km">
						<label class="form-check-label">Dưới 5km</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__meal">
					<p class="filter-sidebar__content">Bữa ăn:</p>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Miễn phí buổi sáng">
						<label class="form-check-label">Miễn phí buổi sáng</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Miễn phí đồ ăn nhẹ">
						<label class="form-check-label">Miễn phí đồ ăn nhẹ</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__star-rate">
					<p class="filter-sidebar__content">Đánh giá sao:</p>
					<p class="filter-sidebar__note">Đánh giá này do chỗ nghĩ cung cấp và thường được đánh giá bởi tổ chức đánh giá khách sạn uy tín hoặc một bên thứ ba khác.</p>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=5>
						<label class="form-check-label">
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=4>
						<label class="form-check-label">
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=3>
						<label class="form-check-label">
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=2>
						<label class="form-check-label">
							<span class="material-symbols-outlined icon--filled">grade</span>
							<span class="material-symbols-outlined icon--filled">grade</span>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=1>
						<label class="form-check-label">
							<span class="material-symbols-outlined icon--filled">grade</span>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_star" class="form-check-input acco-star" value=null>
						<label class="form-check-label">Chưa có đánh giá</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__cancel">
					<p class="filter-sidebar__content">Chính sách hủy phòng:</p>
					<div class="form-check">
						<input type="checkbox" name="acco_fea" class="form-check-input acco-fea" value=1>
						<label class="form-check-label">Miễn phí hủy</label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="acco_fea" class="form-check-input acco-fea" value=2>
						<label class="form-check-label">Không cần thanh toán trước</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__convenient-accommodation">
					<p class="filter-sidebar__content">Tiện nghi chỗ nghỉ:</p>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Wifi miễn phí">
						<label class="form-check-label">Wifi miễn phí</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Chỗ đỗ xe">
						<label class="form-check-label">Chỗ đỗ xe</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Bể bơi công cộng">
						<label class="form-check-label">Bể bơi công cộng</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Được phép mang thú nuôi">
						<label class="form-check-label">Được phép mang thú nuôi</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Lễ tân 24 giờ">
						<label class="form-check-label">Lễ tân 24 giờ</label>
					</div>
				</div>
				<hr aria-hidden="true">
				<div class="filter-sidebar__convenient-room">
					<p class="filter-sidebar__content">Tiện nghi phòng:</p>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Ban công">
						<label class="form-check-label">Ban công</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Bồn tắm">
						<label class="form-check-label">Bồn tắm</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Điều hòa không khí">
						<label class="form-check-label">Điều hòa không khí</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Tivi">
						<label class="form-check-label">Tivi</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" value="Máy sấy">
						<label class="form-check-label">Máy sấy</label>
					</div>
					<div class="form-check hidden">
						<input type="checkbox" class="form-check-input" value="Máy giặt">
						<label class="form-check-label">Máy giặt</label>
					</div>
					<div class="form-check hidden">
						<input type="checkbox" class="form-check-input" value="Bàn ủi">
						<label class="form-check-label">Bàn ủi</label>
					</div>
					<div class="filter-sidebar__content-extend" id="extend-content">
						<span class="material-symbols-outlined">expand_more</span>
						<a href="#" id="toggle-extend">Hiển thị tất cả</a>
					</div>
				</div>
			</div>
		</aside>
		<section class="search-results">
			<h2 class="search-results__content">
				<div id="search__content">

				</div>
			</h2>
			<div class="search-results__filter">
				<div class="search-results__filter__heading">
					<span class="material-symbols-outlined">swap_vert</span>
					<p class="search-results__filter__title">Sắp xếp theo:</p>
				</div>

				<div class="filter_price">
					<div class="search-results__filter__item" id="filter__item-price">
						<p class="search-results__filter__content">Giá</p>
						<span class="material-symbols-outlined dropdown-button">keyboard_arrow_down</span>
						<div class="dropdown-content">
							<input type="radio" id="cost-ZA" class="sort cost" name="cost" value="Cao đến thấp" />
							<label for="cost-ZA" onclick="selectRadio('cost-ZA')" class="sort-label">Cao đến thấp</label>
							<input type="radio" id="cost-AZ" class="sort cost" name="cost" value="Thấp đến cao" />
							<label for="cost-AZ" onclick="selectRadio('cost-AZ')" class="sort-label">Thấp đến cao</label>
						</div>
					</div>
				</div>

				<div class="filter-item-best">
					<div class="search-results__filter__item" id="filter__item-best">
						<p class="search-results__filter__content">Được đánh giá hàng đầu</p>
						<span class="material-symbols-outlined dropdown-button">expand_more</span>
						<div class="dropdown-content">
							<input type="radio" id="acco-star-ZA" class="sort acco-star-sort" name="acco_star" value="Cao đến thấp" />
							<label for="acco-star-ZA" onclick="selectRadio('acco-star-ZA')" class="sort-label">Cao đến thấp</label>
							<input type="radio" id="acco-star-AZ" class="sort acco-star-sort" name="acco_star" value="Thấp đến cao" />
							<label for="acco-star-AZ" onclick="selectRadio('acco-star-AZ')" class="sort-label">Thấp đến cao</label>
						</div>
					</div>
				</div>

				<div class="filter-rate">
					<div class="search-results__filter__item" id="filter__item-rate">
						<p class="search-results__filter__content">Được đánh giá nhiều nhất</p>
						<span class="material-symbols-outlined dropdown-button">expand_more</span>
						<div class="dropdown-content">
							<input type="radio" id="count-rating-ZA" class="sort count-rating" name="count_rating" value="Cao đến thấp" />
							<label for="count-rating-ZA" onclick="selectRadio('count-rating-ZA')" class="sort-label">Cao đến thấp</label>
							<input type="radio" id="count-rating-AZ" class="sort count-rating" name="count_rating" value="Thấp đến cao" />
							<label for="count-rating-AZ" onclick="selectRadio('count-rating-AZ')" class="sort-label">Thấp đến cao</label>
						</div>
					</div>
				</div>

				<div class="search-results__filter__item" id="filter__item-sale">
					<p class="search-results__filter__content">Ưu đãi hấp dẫn</p>
				</div>
			</div>

			<hr aria-hidden="true">

			<div id="filter-sort">
			</div>

			<%- include('../../components/next-page') %>

		</section>

	</main>

	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="/scripts/search/results.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>