<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Thông tin về tài khoản thanh toán của bạn luôn được 2WAYS bảo vệ và bảo mật tuyệt đối.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/account/payment.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-medium') %>

	<main class="payment-account-container">

		<aside class="aside-content">
			<div class="aside-content__profile">
				<img class="aside-content__img" src="/imgs/milo.jpg" alt="avatar">
				<div class="aside-content__detail">
					<p class="aside-content__detail-bold">Giàu Phan</p>
					<p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
				</div>
			</div>

			<hr>

			<div class="aside-content__section">
				<p class="profile-btn">Thông tin cá nhân</p>
				<p class="history-btn">Lịch sử đặt phòng</p>
				<p class="account-payment-btn">Tài khoản thanh toán</p>
				<p class="change-password-btn">Đổi mật khẩu</p>
			</div>

			<hr>

			<div class="aside-item logout-btn">
				<a style='text-decoration: none' id="logoutButton">
					<p>Đăng xuất</p>
				</a>
			</div>
			<div class="popup">
				<div class="popup__main">
					<div class="popup__content-title">
						<div class="popup--top">
							<p class="popup__title">Đăng xuất</p>
							<div class="close-btn">
								<span class="material-symbols-outlined">cancel</span>
							</div>
						</div>
					</div>
					<img src="/imgs/logout.png" alt="logout" class="popup__img">
					<div class="popup__content">
						<p>Bạn có chắc chắn muốn đăng xuất không?</p>
					</div>
					<div class="popup__button">
						<button class="btn--outlined pri btn-cancel" type="button">Hủy</button>
						<button class="btn--filled pri btn-logout" type="submit">Đăng xuất</button>
					</div>
				</div>
			</div>
		</aside>

		<section class="form">
			<div class="form__title">
				<h1>Thông tin thanh toán</h1>
				<p>Thêm hoặc bỏ các phương thức thanh toán</p>
			</div>

			<hr>

			<div class="form__card-items">
				<div class="form__card-item ">
					<div class="form__debit-credit-card">
						<h1>Thẻ tín dụng/ghi nợ</h1>
						<button class="debit-credit-card--submit add-credit-account-btn">+ Thêm thẻ mới</button>
					</div>
					<div class="form__debit-detail-one">
						<img src="../../img/mastercard.png" alt="">
						<p class="name-bank">Vietcombank</p>
						<p class="phone-number">*0618</p>
						<p class="line-delete">Xóa</p>
						<button class="filled-default">Mặc định</button>
					</div>

					<div class="form__debit-detail-one">
						<img src="../../img/mastercard.png" alt="">
						<p class="name-bank">Vietcombank</p>
						<p class="phone-number">*0618</p>
						<p class="line-delete">Xóa</p>
						<button class="unfilled-default">Thiết lập mặc định</button>
					</div>

				</div>

				<div class="form__card-item ">
					<div class="form__bank-account">
						<h1>Tài khoản ngân hàng của tôi</h1>
						<button class="bank-account--submit add-bank-account-btn">+ Thêm tài khoản ngân hàng</button>
					</div>
					<div class="form__card-detail">
						<img src="../../img/mastercard.png" alt="">
						<p class="name-bank">Vietcombank</p>
						<p class="phone-number">*0618</p>
						<p class="line-delete">Xóa</p>
						<button class="filled-default">Mặc định</button>
					</div>
				</div>
			</div>
		</section>

	</main>

	<%- include('../../components/otp') %>
	<%- include('../../components/success-popup') %>
	<%- include('../../components/bank-account-popup') %>
	<%- include('../../components/credit-account-popup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/account/payment.js"></script>
	<script src="/scripts/components/bank-account-popup.js"></script>
	<script src="/scripts/components/credit-account-popup.js"></script>
	<script src="/scripts/components/logout-popup.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>