<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Đổi mật khẩu thường xuyên giúp tăng tính bảo mật và bảo vệ tài khoản của bạn tại 2WAYS.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/account/change-password.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-medium.ejs') %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Cá nhân', link: "" },
        { text: 'Đổi mật khẩu', link: "/account/change-password" }
    ] }) %>
	<%- include('../../components/on-top-btn') %>


	<main class="change-password-container">
		<aside class="aside-content">
			<div class="aside-content__profile">
				<img class="aside-content__img" src="/imgs/user/<%= user.avatar ?? 'default.jpg' %>" alt="">
				<div class="aside-content__detail">
					<p class="aside-content__detail-bold"><%= user.last_name + " " + user.first_name %></p>
					<p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
				</div>
			</div>

			<hr>

			<div class="aside-section">
				<a style='text-decoration: none;' href="/account/information">
					<p>Thông tin cá nhân</p>
				</a>
				<a style='text-decoration: none;' href="/account/history">
					<p>Lịch sử đặt phòng</p>
				</a>
				<a style='text-decoration: none;' href="/account/card">
					<p>Tài khoản thanh toán</p>
				</a>
				<a style='text-decoration: none;' href="/account/change-password">
					<p class='active'>Đổi mật khẩu</p>
				</a>
			</div>

			<hr>

			<div class="aside-item logout-btn">
				<a style='text-decoration: none' id="logoutButton">
					<p>Đăng xuất</p>
				</a>
			</div>
			<div class="popup">
				<div class="popup__main">
					<div class="popup__content-title">
						<div class="popup--top">
							<p class="popup__title">Đăng xuất</p>
							<div class="close-btn">
								<span class="material-symbols-outlined">cancel</span>
							</div>
						</div>
					</div>
					<img src="/imgs/logout.png" alt="logout" class="popup__img">
					<div class="popup__content">
						<p>Bạn có chắc chắn muốn đăng xuất không?</p>
					</div>
					<div class="popup__button">
						<button class="btn--outlined pri btn-cancel" type="button">Hủy</button>
						<button class="btn--filled pri btn-logout" type="submit">Đăng xuất</button>
					</div>
				</div>
			</div>
		</aside>

		<section id="change1" class="form-input">
			<div class="form-input__title">
				<h1>Đổi mật khẩu</h1>
				<p>Đổi mật khẩu cho tài khoản của bạn</p>
			</div>
			<hr>
			<div class="form-input__title form__item-change1">
				<h1>Mật khẩu</h1>
				<p>Đổi mật khẩu thường xuyên để giữ tài khoản của bạn được bảo mật</p>
				<button class="form-submit set-btn">Đặt lại</button>
			</div>
		</section>

		<section id="change2" class="form-input">
			<div class="form-input__title">
				<h1>Đổi mật khẩu</h1>
				<p>Đổi mật khẩu cho tài khoản của bạn</p>
			</div>
			<hr>
			<p class="form__center">
				Đặt mật khẩu có ít nhất là 8 ký tự, trong đó có cả chữ và số.
			</p>

			<div class="form__items">
				<div class="form__item form__oldPass">
					<h1>Mật khẩu cũ:</h1>
					<input class="form-control form__old_password" type="password" placeholder="Nhập mật khẩu cũ" name='oldPass'>
					<span class="material-symbols-outlined" id="eye-open-1">visibility</span>
				</div>

				<div class="form__item form__newPass">
					<h1>Mật khẩu mới:</h1>
					<input class="form-control form__password" type="password" placeholder="Nhập mật khẩu mới" name='newPass'>
					<span class="material-symbols-outlined" id="eye-open-2">visibility</span>
				</div>

				<div class="form__item form__newPassConfirm">
					<h1>Xác nhận mật khẩu:</h1>
					<input class="form-control form__password-confirm" type="password" placeholder="Nhập lại mật khẩu mới" name='newPassConfirm'>
					<span class="material-symbols-outlined" id="eye-open-3">visibility</span>
				</div>
			</div>

			<div class="error-message" id="error-message"></div>

			<div class="form__submitbutton">
				<button class="form__submit1 cancel-btn">Hủy</button>

				<button class="form__submit2 confirm-button" type="submit">Xác nhận</button>
			</div>
		</section>
	</main>

	<%- include('../../partials/footer.ejs') %>
	<%- include('../../components/success-popup.ejs') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/account/change-password.js"></script>
	<script src="/scripts/components/logout-popup.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>