<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Theo dõi thông tin về lịch sử đặt phòng giúp bạn quản lý thời gian và sắp xếp lịch kế hoạch công tác của bạn một cách tối ưu nhất trong 2WAYS.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/account/history.css">

	<title>2WAYS.com</title>

</head>

<body>

	<% if (typeof data_search !== 'undefined' && data_search !== null) { %>
	<%- include('../../partials/header-medium.ejs', { data_search }) %>
	<% } else { %>
	<% } %>

	<%- include('../../partials/header-medium.ejs', { user }) %>
	<%- include("../../partials/nav-tree", { nav_tree__data: [
        { text: "Trang chủ", link: "/" },
        { text: "Cá nhân", link: "" },
        { text: "Lịch sử đặt phòng", link: "/account/history" }
    ]}) %>
	<%- include('../../components/on-top-btn') %>

	<main class="booking-history-container">

		<aside class="aside-content">
			<div class="aside-content__profile">
				<img class="aside-content__img" src="/imgs/user/<%= user.avatar ?? 'default.jpg' %>" alt="">
				<div class="aside-content__detail">
					<p class="aside-content__detail-bold"><%= user.last_name + " " + user.first_name %></p>
					<p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
				</div>
			</div>

			<hr>

			<div class="aside-section">
				<a style='text-decoration: none;' href="/account/information">
					<p>Thông tin cá nhân</p>
				</a>
				<a style='text-decoration: none;' href="/account/history">
					<p class='active'>Lịch sử đặt phòng</p>
				</a>
				<a style='text-decoration: none;' href="/account/card">
					<p>Tài khoản thanh toán</p>
				</a>
				<a style='text-decoration: none;' href="/account/change-password">
					<p>Đổi mật khẩu</p>
				</a>
			</div>

			<hr>

			<div class="aside-item logout-btn">
				<a style='text-decoration: none' id="logoutButton">
					<p>Đăng xuất</p>
				</a>
			</div>
			<div class="popup">
				<div class="popup__main">
					<div class="popup__content-title">
						<div class="popup--top">
							<p class="popup__title">Đăng xuất</p>
							<div class="close-btn">
								<span class="material-symbols-outlined">cancel</span>
							</div>
						</div>
					</div>
					<img src="/imgs/logout.png" alt="logout" class="popup__img">
					<div class="popup__content">
						<p>Bạn có chắc chắn muốn đăng xuất không?</p>
					</div>
					<div class="popup__button">
						<button class="btn--outlined pri btn-cancel" type="button">Hủy</button>
						<button class="btn--filled pri btn-logout" type="submit">Đăng xuất</button>
					</div>
				</div>
			</div>
		</aside>

		<section class="booking-history">
			<div class="booking-history__title">
				<h1>Lịch sử đặt phòng</h1>
			</div>

			<div class="booking-history__items">
				<% if (!bookingDetails[0]) { %>
				<p>Không tìm thấy</p>
				<% } else { %>
				<% bookingDetails.forEach(bookingDetail => { %>
				<div class=""><%- include('../../components/room-in-hs.ejs', { bookingDetail }) %></div>
				<% }); %>
				<% } %>
			</div>
		</section>

	</main>

	<%- include('../../components/success-popup')  %>
	<%- include('../../components/next-page.ejs') %>
	<%-include('../../partials/footer.ejs') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/account/booking-history.js" defer></script>
	<script src="/scripts/components/review-popup.js" defer></script>
	<script src="/scripts/components/logout-popup.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>