<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/pages/account/information.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title>2WAYS.com</title>
</head>

<body>
    <%- include("../../partials/header-medium") %>
    <%- include("../../partials/nav-tree", { nav_tree__data: [
        { text: "Trang chủ", link: "/" },
        { text: "Tài khoản", link: null },
        { text: "Thông tin cá nhân", link: "/account/information" }
    ]}) %>


    <div class="account-container">
        <aside class="aside-content">
            <div class="aside-content__profile">
                <img class="aside-content__img" src="/imgs/user/<%= data.avatar ?? "user_1.jpg" %>" alt="" />
                <div class="aside-content__detail">
                    <p class="aside-content__detail-bold"><%= data.last_name + " " + data.first_name %></p>
                    <p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
                </div>
            </div>

            <hr />

            <div class="aside-section">
                <p class="profile-btn">Thông tin cá nhân</p>
                <p class="history-btn">Lịch sử đặt phòng</p>
                <p class="account-payment-btn">Tài khoản thanh toán</p>
                <p class="change-password-btn">Đổi mật khẩu</p>
            </div>

            <hr />

            <div class="aside-item logout-btn">
                <p>Đăng xuất</p>
            </div>
        </aside>
        <!-- Xem hồ sơ -->
        <section id="view-profile" class="form">
            <div class="form__title">
                <h1>Thông tin cá nhân</h1>
                <p>Cập nhật thông tin của bạn</p>
            </div>

            <hr />

            <div class="form__items">
                <div class="form__item">
                    <h1>Họ:</h1>
                    <input class="form-control" type="text" value="<%= data.last_name %>" readonly />

                    <h1>Tên:</h1>
                    <input class="form-control" type="text" value="<%= data.first_name %>" readonly />
                </div>

                <div class="form__item">
                    <h1>Địa chỉ Email:</h1>
                    <input class="form-control" type="text" value="<%= data.email %>" readonly />
                </div>

                <div class="form__item">
                    <h1>Ngày sinh:</h1>
                    <input class="form-control account__birthday <%- data.birthday ? null : 'unfilled' %>" type="text" placeholder="<%= data.birthday ?? 'Thêm ngày sinh' %>" value="<%= data.birthday %>" readonly />
                </div>

                <div class="form__item">
                    <h1>Giới tính:</h1>
                    <input class="form-control <%- data.sex ? null : 'unfilled' %>" type="text" placeholder="<%= data.sex ?? 'Thêm giới tính' %>" readonly />
                </div>
            </div>
            <div class="form__submitbutton">
                <button class="form--submit2 form--submit2-default ">Sửa</button>
            </div>
        </section>
        <!-- Sửa hồ sơ -->
        <section id="edit-profile" class="form">
            <div class="form__title">
                <h1>Thông tin cá nhân</h1>
                <p>Cập nhật thông tin của bạn</p>
            </div>

            <hr />

            <form id='informationPut' class="form__items" action='/booking/information' method='put'>
                <div class="form__item">
                    <h1>Họ:</h1>
                    <input class="form-control" type="text" value="<%= data.last_name %>" required />

                    <h1>Tên:</h1>
                    <input class="form-control" type="text" value="<%= data.first_name %>" required />
                </div>

                <div class="form__item">
                    <h1>Địa chỉ Email:</h1>
                    <input class="form-control" type="text" value="<%= data.email %>" required />
                </div>

                <div class="form__item">
                    <h1>Ngày sinh:</h1>
                    <input class="form-control account__birthday" type="date" value="<%= data.birthday %>" />
                </div>

                <div class="form__item">
                    <h1>Giới tính:</h1>
                    <select class="form-select" aria-label="Default select example">
                        <% if (!data.sex) { %>
                        <option value=null selected>Thêm giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                        <% } else if (data.sex == "Nam") { %>
                        <option>Thêm giới tính</option>
                        <option value="Nam" selected>Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                        <% } else if (data.sex == 'Nữ') { %>
                        <option>Thêm giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ" selected>Nữ</option>
                        <option value="Khác">Khác</option>
                        <% } else if (data.sex == 'Khác') { %>
                        <option>Thêm giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác" selected>Khác</option>
                        <% } else { %>
                        <option selected>Thêm giới tính</option>
                        <option value=" Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                        <% } %>
                    </select>
                </div>
                <div class="form__submitbutton">
                    <button class="form--submit1 cancel-btn">Hủy</button>
    
                    <button type="submit" id="save-btn" class="form--submit2">Lưu</button>
                </div>
            </form>
        </section>
    </div>
    <%- include('../../components/success-popup')  %>

    <%- include('../../partials/footer') %>

    <script src="/scripts/account-page.js"></script>
    <script src="/scripts/search-bar.js"></script>
    <script src="/scripts/header-medium.js"></script>
</body>

</html>