<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Thông tin về tài khoản của bạn được 2WAYS thu thập để phục vụ tốt nhất cho từng khách hàng và được bảo mật tuyệt đối.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/account/information.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include("../../partials/header-medium", { user }) %>
	<%- include("../../partials/nav-tree", { nav_tree__data: [
        { text: "Trang chủ", link: "/" },
        { text: "Cá nhân", link: ""},
        { text: "Thông tin cá nhân", link: "/account/information" }
    ]}) %>
	<%- include('../../components/on-top-btn') %>

	<main class="account-container">
		<aside class="aside-content">
			<div class="aside-content__profile">
				<img class="aside-content__img" src="/imgs/user/<%= user.avatar ?? 'default.jpg' %>" alt="Avatar">
				<div class="aside-content__detail">
					<p class="aside-content__detail-bold"><%= user.last_name + " " + user.first_name %></p>
					<p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
				</div>
			</div>

			<hr>

			<div class="aside-section">
				<a style='text-decoration: none;' href="/account/information">
					<p class='active'>Thông tin cá nhân</p>
				</a>
				<a style='text-decoration: none;' href="/account/history">
					<p>Lịch sử đặt phòng</p>
				</a>
				<a style='text-decoration: none;' href="/account/card">
					<p>Tài khoản thanh toán</p>
				</a>
				<a style='text-decoration: none;' href="/account/change-password">
					<p>Đổi mật khẩu</p>
				</a>
			</div>

			<hr>

			<div class="aside-item logout-btn">
				<a style='text-decoration: none' id="logoutButton">
					<p>Đăng xuất</p>
				</a>
			</div>
			<div class="popup">
				<div class="popup__main">
					<div class="popup__content-title">
						<div class="popup--top">
							<p class="popup__title">Đăng xuất</p>
							<div class="close-btn">
								<span class="material-symbols-outlined">cancel</span>
							</div>
						</div>
					</div>
					<img src="/imgs/logout.png" alt="logout" class="popup__img">
					<div class="popup__content">
						<p>Bạn có chắc chắn muốn đăng xuất không?</p>
					</div>
					<div class="popup__button">
						<button class="btn--outlined pri btn-cancel" type="button">Hủy</button>
						<button class="btn--filled pri btn-logout" type="submit">Đăng xuất</button>
					</div>
				</div>
			</div>
		</aside>

		<!-- Xem hồ sơ -->
		<section id="view-profile" class="form">
			<div class="form__title">
				<h1>Thông tin cá nhân</h1>
				<p>Cập nhật thông tin của bạn</p>
			</div>

			<hr>

			<div class="form__items">
				<div class="form__item">
					<div class="form__item--left">
						<h1>Họ:</h1>
						<input class="form-control" type="text" value="<%= data.last_name %>" readonly>
					</div>

					<div class="form__item--right">
						<h1>Tên:</h1>
						<input class="form-control" type="text" value="<%= data.first_name %>" readonly>
					</div>
				</div>

				<div class="form__item">
					<h1>Địa chỉ Email:</h1>
					<input class="form-control" type="text" value="<%= data.email %>" readonly>
				</div>

				<div class="form__item">
					<h1>Ngày sinh:</h1>
					<input class="form-control account__birthday <%- data.birthday ? null : 'unfilled' %>" type="date" placeholder="<%= data.birthday ?? 'Thêm ngày sinh' %>" value="<%= data.birthday %>" readonly>
				</div>

				<div class="form__item">
					<h1>Giới tính:</h1>
					<input class="form-control <%- data.sex ? null : 'unfilled' %>" type="text" placeholder="<%= data.sex ?? 'Thêm giới tính' %>" readonly>
				</div>
			</div>
			<div class="form__submitbutton">
				<button class="form__btn--edit form--submit2 form--submit2-default">Sửa</button>
			</div>
		</section>

		<!-- Sửa hồ sơ -->
		<section id="edit-profile" class="form">
			<div class="form__title">
				<h1>Thông tin cá nhân</h1>
				<p>Cập nhật thông tin của bạn</p>
			</div>

			<hr>

			<form id='informationPut' class="form__items" action='/account/information' method="POST">
				<div class="form__item">
					<h1>Họ:</h1>
					<input class="form-control" name='last_name' type="text" value="<%= data.last_name %>" required>

					<h1>Tên:</h1>
					<input class="form-control" name='first_name' type="text" value="<%= data.first_name %>" required>
				</div>

				<div class="form__item">
					<h1>Địa chỉ Email:</h1>
					<input class="form-control" type="text" value="<%= data.email %>" disabled>
				</div>

				<div class="form__item">
					<h1>Ngày sinh:</h1>
					<input class="form-control account__birthday" name='birthday' type="date" value="<%= data.birthday %>">
				</div>

				<div class="form__item">
					<h1>Giới tính:</h1>
					<select class="form-select" name='sex' aria-label="Default select example">
						<% if (!data.sex) { %>
						<option value=null selected>Thêm giới tính</option>
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Khác">Khác</option>
						<% } else if (data.sex == "Nam") { %>
						<option value=null>Thêm giới tính</option>
						<option value="Nam" selected>Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Khác">Khác</option>
						<% } else if (data.sex == 'Nữ') { %>
						<option value=null>Thêm giới tính</option>
						<option value="Nam">Nam</option>
						<option value="Nữ" selected>Nữ</option>
						<option value="Khác">Khác</option>
						<% } else if (data.sex == 'Khác') { %>
						<option value=null>Thêm giới tính</option>
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Khác" selected>Khác</option>
						<% } else { %>
						<option value=null selected>Thêm giới tính</option>
						<option value=" Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Khác">Khác</option>
						<% } %>
					</select>
				</div>
			</form>
			<div class="form__submitbutton">
				<button class="form__btn--cancel form--submit1">Hủy</button>
				<button class="form__btn--save   form--submit2" type="submit" data-form-id="#informationPut">Lưu</button>
			</div>
		</section>

	</main>

	<%- include('../../components/success-popup')  %>
	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/account/information.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/components/logout-popup.js"></script>
	<script src="/scripts/partials/header-medium.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>