<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Trang Dashboard giúp tổng quan các thông tin doanh thu và một số thông tin khác của tổ chức để phục vụ nhu cầu của người quản lý.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/admin/dashboard.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/admin-nav') %>

	<main>

		<section class="main-container">
			<h2>Chào mừng Admin0123</h2>
			<div class="summary">
				<div class="summary__rooms">
					<h1><%=totalRoomType%></h1>
					<p>Phòng</p>
				</div>
				<div class="summary__bookings">
					<h1><%=totalBooking%></h1>
					<p>Lượt đặt phòng</p>
				</div>
				<div class="summary__ratings">
					<h1><%=totalRating%></h1>
					<p>Đánh giá</p>
				</div>
			</div>

			<div class="tables">
				<div class="tables__bookings">
					<div class="tables__title">
						<h2>Đặt hàng gần đây</h2>
						<a href="#">Xem thêm</a>
					</div>

					<div class="tables__col">
						<p>Người dùng</p>
						<p>Số tiền</p>
						<p>Thời gian</p>
						<div class="tables__last-col"></div>
					</div>
					<div class="tables__rows">
						<% lastestBooking.forEach(function(booking) { %>
						<div>
							<p><%=booking.au_user_full_name%></p>
							<p><%=booking.book_cost_after%></p>
							<p><%=booking.book_datetime_format%></p>
							<a href="#">Chi tiết</a>
						</div>
						<% }) %>
					</div>
				</div>
				<div class="tables__ratings">
					<div class="tables__title">
						<h2>Đánh giá gần đây</h2>
						<a href="#">Xem thêm</a>
					</div>

					<div class="tables__col">
						<p>Người dùng</p>
						<p>Số điểm</p>
						<p>Thời gian</p>
						<div class="tables__last-col"></div>
					</div>

					<div class="tables__rows">
						<% lastestRating.forEach(function(rating) { %>
						<div>
							<p><%=rating.au_user_full_name%></p>
							<p><%=rating.rating_point%></p>
							<p><%=rating.rating_datetime_format%></p>
							<a href="#">Chi tiết</a>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
			<div class="chart">
				<h2>Thống kê</h2>
				<div><canvas id="chart"></canvas></div>
				<p>Biểu đồ thể hiện tỉ lệ giữa số đơn đặt, lượt đánh giá, và điểm đánh giá trung bình theo tháng trong năm 2023.</p>
			</div>
		</section>

	</main>

	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/scripts/admin/dashboard.js"></script>

</body>

</html>