<div class="comment-wrapper">
    <div class="comment-wrapper__profile">
        <img src="/imgs/user/<%=rating.au_user_avt_url%>" alt="avatar" />
        <p><%=rating.au_user_full_name%></p>
    </div>
    <p class="comment-wrapper__comment">
        <%=rating.rating_context%>
    </p>
    <div class="comment-wrapper__point-day">
        <span class="comment-wrapper__point"><%=rating.rating_point%></span>
        <span><%=rating.rating_datetime_format%></span>
    </div>
</div>