<div class="noti-item__block" style="background: <%= (noti.usernoti_is_read == 0) ? '#00696D1A' : 'white' %>">
	<img src="/imgs/setting.jpg" alt="img" class="noti-item__img">
	<form class="noti-item__main">
		<input type="hidden" name="noti <%= index %>" value="<%=noti.noti_id%>">
		<div>
			<p class="noti-item__title"><%= noti.noti_title %></p>
			<p class="noti-item__sub-title">
				<%= noti.noti_subtitle %>
			</p>
		</div>
		<div class="noti-item__info">
			<div class="noti-item__date-time">
				<p class="noti-item__time"><%=noti.noti_time%></p>
				<p class="noti-item__date"><%=noti.noti_date%></p>
			</div>
			<button class="btn--outlined pri popup-btn" type="submit">Xem chi tiết</button>
			<div class="popup">
				<div class="popup__main">
					<div class="close-btn">
						<span class="material-symbols-outlined">cancel</span>
					</div>
					<div class="popup__content-main">
						<div class="popup__content--left">
							<img src="/imgs/user/<%=user.avatar%>" alt="img" class="popup__img">
							<div class="timeline">
								<ul>
									<li class="in-view"></li>
									<li class="in-view"></li>
									<li class="in-view"></li>
								</ul>
							</div>
						</div>
						<div class="popup__content--right">
							<div class="popup__content-title">
								<p class="popup__title"><%=noti.noti_title%></p>
								<p class="popup_sub-tittle"><%=noti.noti_subtitle%></p>
							</div>
							<div class="popup__details">
								<p class="popup__details-title">Quên mật khẩu</p>
								<p class="popup__details-content">Bạn chọn chức năng quên mật khẩu</p>
								<div class="noti-item__date-time">
									<p class="noti-item__time"><%=noti.noti_time%></p>
									<p class="noti-item__date"><%=noti.noti_date%></p>
								</div>
							</div>
							<div class="popup__details">
								<p class="popup__details-title">Nhận liên kết đặt lại mật khẩu</p>
								<p class="popup__details-content">Chúng tôi đã 1 liên kết để đặt lại mật khẩu</p>
								<div class="noti-item__date-time">
									<p class="noti-item__time"><%=noti.noti_time%></p>
									<p class="noti-item__date"><%=noti.noti_date%></p>
								</div>
							</div>
							<div class="popup__details">
								<p class="popup__details-title">Đặt mật khẩu mới</p>
								<p class="popup__details-content">Bạn đã truy cập vào liên kết và đặt lại mật khẩu thành công</p>
								<div class="noti-item__date-time">
									<p class="noti-item__time"><%=noti.noti_time%></p>
									<p class="noti-item__date"><%=noti.noti_date%></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>