<div class="room-in-hs">
	<input type="hidden" name="room_id" value="<%= bookingDetail.room_id %>">
	<div class="room-in-hs__detail">
		<h2 class="room-in-hs__name"><b><%= bookingDetail.acco_name %></b></h2>
		<div class="room-in-hs__book-date">
			<label for="">Ngày đặt:</label>
			<span><%=bookingDetail.book_datetime%></span>
		</div>
		<div class="room-in-hs__checkin-date">
			<label for="">Ngày bắt đầu:</label>
			<span><%= bookingDetail.book_start_datetime %></span>
		</div>
		<div class="room-in-hs__checkout-date">
			<label for="">Ngày kết thúc:</label>
			<span><%=bookingDetail.book_end_datetime%></span>
		</div>
		<div class="room-in-hs__book-name">
			<label for="">Người đặt phòng:</label>
			<span><%=bookingDetail.book_customer_name%></span>
		</div>
		<div class="room-in-hs__payment-status">
			<label for="">Trạng thái thanh toán:</label>
			<span>
				<%=bookingDetail.book_is_paid_mean%>
			</span>
		</div>
	</div>

	<div class="room-in__title">

		<h5 class="room-in__status">
			<%=bookingDetail.book_status_mean%>
		</h5>

		<div class="policy__price">
			<div class="policy__room">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none">
					<mask id="mask0_837_10964" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="31">
						<rect y="0.5" width="30" height="30" fill="#D9D9D9" />
					</mask>
					<g mask="url(#mask0_837_10964)">
						<path d="M14.9862 22.5192C15.3431 22.5192 15.6446 22.3959 15.8906 22.1495C16.1366 21.9031 16.2596 21.6014 16.2596 21.2445C16.2596 20.8876 16.1363 20.5861 15.8899 20.3401C15.6435 20.0941 15.3418 19.9711 14.9849 19.9711C14.628 19.9711 14.3265 20.0943 14.0805 20.3408C13.8345 20.5872 13.7115 20.8889 13.7115 21.2458C13.7115 21.6027 13.8348 21.9042 14.0812 22.1502C14.3276 22.3962 14.6293 22.5192 14.9862 22.5192ZM14.1009 18.0432H15.8605C15.8766 17.4278 15.9667 16.9363 16.131 16.5685C16.2952 16.2007 16.6939 15.7131 17.3269 15.1058C17.8765 14.5561 18.2976 14.0484 18.5901 13.5829C18.8826 13.1174 19.0288 12.5676 19.0288 11.9336C19.0288 10.8577 18.6422 10.0172 17.869 9.41225C17.0957 8.80729 16.1811 8.50481 15.125 8.50481C14.0817 8.50481 13.2183 8.78326 12.5348 9.34016C11.8514 9.89703 11.3638 10.5529 11.0721 11.3077L12.6778 11.9519C12.8301 11.5368 13.0905 11.1326 13.4591 10.7392C13.8277 10.3457 14.375 10.149 15.1009 10.149C15.8397 10.149 16.3858 10.3513 16.7392 10.756C17.0925 11.1606 17.2692 11.6058 17.2692 12.0913C17.2692 12.516 17.1482 12.9046 16.9062 13.2572C16.6642 13.6098 16.3558 13.9503 15.9808 14.2788C15.1603 15.0192 14.6418 15.6098 14.4255 16.0505C14.2091 16.4912 14.1009 17.1554 14.1009 18.0432ZM15.0021 27.3749C13.3596 27.3749 11.8159 27.0633 10.3707 26.4399C8.9255 25.8166 7.6684 24.9707 6.59938 23.9021C5.53033 22.8336 4.68401 21.577 4.06041 20.1325C3.4368 18.688 3.125 17.1445 3.125 15.5021C3.125 13.8596 3.43667 12.3159 4.06 10.8707C4.68333 9.4255 5.52927 8.1684 6.59781 7.09938C7.66638 6.03034 8.92293 5.18401 10.3675 4.56041C11.812 3.9368 13.3555 3.625 14.9979 3.625C16.6403 3.625 18.1841 3.93667 19.6293 4.56C21.0744 5.18333 22.3315 6.02927 23.4006 7.09781C24.4696 8.16638 25.3159 9.42293 25.9395 10.8675C26.5631 12.312 26.8749 13.8555 26.8749 15.4979C26.8749 17.1403 26.5633 18.6841 25.9399 20.1293C25.3166 21.5744 24.4707 22.8315 23.4021 23.9006C22.3336 24.9696 21.077 25.8159 19.6325 26.4395C18.188 27.0631 16.6445 27.3749 15.0021 27.3749ZM15 25.5C17.7916 25.5 20.1562 24.5312 22.0937 22.5937C24.0312 20.6562 25 18.2916 25 15.5C25 12.7083 24.0312 10.3437 22.0937 8.40622C20.1562 6.46872 17.7916 5.49997 15 5.49997C12.2083 5.49997 9.84372 6.46872 7.90622 8.40622C5.96872 10.3437 4.99997 12.7083 4.99997 15.5C4.99997 18.2916 5.96872 20.6562 7.90622 22.5937C9.84372 24.5312 12.2083 25.5 15 25.5Z" fill="#00696D" />
					</g>
				</svg>
				<a href="/terms-of-use" class="cancel-policy">Chính sách hủy phòng</a>
			</div>
			<div class="price__room">
				<% if (bookingDetail.book_cost_before_currency == bookingDetail.book_cost_after_currency) { %>
				<p class="after-discount">VND <%=bookingDetail.book_cost_after_currency%></p>
				<% } else { %>
				<p class="before-discount">VND <%=bookingDetail.book_cost_before_currency%></p>
				<p class="after-discount">VND <%=bookingDetail.book_cost_after_currency%></p>
				<% } %>
			</div>
		</div>
		<div class="button-room-in-hs">
			<form action="/booking/detail" method="GET">
				<input type="hidden" value="<%=bookingDetail.book_id%>" name="book_id">
				<button type="submit" class="form--submit1 detail-btn">Xem chi tiết</button>
			</form>
			<% if (bookingDetail.book_status == 1) { %>
			<form action="/booking/detail" method="GET">
				<input type="hidden" value="<%=bookingDetail.book_id%>" name="book_id">
				<button type="submit" class="form--submit2 detail-btn">Đánh giá</button>
			</form>
			<%} else if (bookingDetail.book_status == 0) { %>
			<form action="/booking/detail" method="GET">
				<input type="hidden" value="<%=bookingDetail.book_id%>" name="book_id">
				<button type="submit" class="form--submit2 cancel-btn">Hủy đặt</button>
			</form>
			<% } %>
		</div>
	</div>
</div>