<div class="room-container">
	<div class="room">
		<h2 class="room__type"><%= room.room_class %></h2>
		<div class="room__detail">
			<div class="room__detail--left">
				<img src="/imgs/room/<%= room.room_details_img_url %>" alt="<%= room.room_details_img_url %>" class="room__preview">
			</div>

			<div class="room__detail--right">
				<div class="room__title">
					<h2><%= room.room_name %></h2>
					<div>
						<span onclick="minus(event)" class="material-symbols-outlined">remove</span>
						<input class="form-control quantity_input" type="number" name="room_number[]" value="0" min="0" max="<%= room.room_total %>">
						<span onclick="plus(event)" class="material-symbols-outlined">add</span>
					</div>
				</div>
				<div class="room__content">
					<div class="room__content--left">
						<div>
							<span class="material-symbols-outlined">square_foot</span>
							<p><%=room.room_area%> m<sup>2</sup></p>
						</div>
						<% if(room.room_single_bed != 0) { %>
						<div>
							<span class="material-symbols-outlined">single_bed</span>
							<p> <%= room.room_single_bed %> giường đơn </p>
						</div>
						<% } %>
						<% if(room.room_double_bed != 0) { %>
						<div>
							<span class="material-symbols-outlined">bed</span>
							<p> <%= room.room_double_bed %> giường đôi </p>
						</div>
						<% } %>
						<% room.extension.slice(0, 4).forEach(function(extension) { %>
						<div>
							<span class="material-symbols-outlined">
								<%= extension.exte_icon %>
							</span>
							<p> <%= extension.exte_name %> </p>
						</div>
						<% }) %>
					</div>
					<div class="room__content--mid">
						<div>
							<span class="material-symbols-outlined">boy</span>
							<p> <%= room.room_max_adult %> người lớn</p>
						</div>
						<% if(room.room_max_child != 0) { %>
						<div>
							<span class="material-symbols-outlined">child_care</span>
							<p> <%= room.room_max_child %> trẻ em </p>
						</div>
						<% } %>
						<% room.extension.slice(4, 7).forEach(function(extension) { %>
						<div>
							<span class="material-symbols-outlined">
								<%= extension.exte_icon %>
							</span>
							<p> <%= extension.exte_name %> </p>
						</div>
						<% }) %>
						<div>
							<span class="material-symbols-outlined">help</span>
							<a href="/terms-of-use" target="_blank">Chính sách hủy phòng</a>
						</div>
					</div>

					<div class="room__content--right">
						<p class="room__left">(<%= room.room_total %> phòng trống)</p>
						<% if (room.room_discount) {%>
						<p class="room__origin-price"><del><%= room.room_cost_currency %> </del></p>
						<% } %>
						<p class="room__price">VND <%= room.room_cost_after_currency %></p>
						<p class="room__unit">/phòng/đêm</p>
						<button type="button" class="btn-room-modal" data-bs-toggle="modal" data-bs-target="#room-detail">Xem chi tiết phòng</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>