<div class="result-block">
	<div class="result-block__tag-sale">
		<span class="material-symbols-outlined">alarm</span>
		<p class="result-block__sale-content">Đặt chỗ cùng 2WAYS</p>
		<p class="result-block__sale-valid">Khuyến mãi có thời hạn</p>
	</div>

	<div class="result-block__main-container">
		<div class="result-block__main">
			<img src="/imgs/branchs/apartment.png" alt="apartment" class="result-block__picture">
			<div class="result-block__content">
				<p class="result-block__name"><%= result.acco_name %></p>
				<!-- Đánh giá 5 sao -->
				<div class="result-block__rate-star">
					<% for (let i=0; i < data[0].acco_star; i++) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1">star</span>
					<% } %>
					<% for (let i=0; i < 5 - (data[0].acco_star); i++) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
					<% } %>
				</div>
				<div class="result-block__extensions">
					<a href="#" target="blank" class="result-block__map">Xem trên bản đồ</a>
					<div class="result-block__details">
						<span class="material-symbols-outlined">beach_access</span>
						<p class="result-block__details-content">Giáp biển</p>
					</div>
					<div class="result-block__details">
						<p class="result-block__details-content">Cách trung tâm 3.1km</p>
					</div>
				</div>
				<div class="result-block__room-details">
					<p class="result-block__room-detais__content"><%= result.room_type %>
						<%= result.room_class %> nhìn ra biển</p>
					<p>
						<% if(result.room_double_bed) { %>
						<%= result.room_double_bed %> giường đôi
						<% } else { %>
						<%= result.room_single_bed %> giường đơn
						<% } %>
					</p>
					<div class="result-block__room-detais__cancel-policy">
						<span class="material-symbols-outlined">check</span>
						<p class="cancel-policy__content">Miễn phí hủy</p>
					</div>
					<div class="result-block__room-detais__cancel-policy">
						<span class="material-symbols-outlined">check</span>
						<p class="cancel-policy__content">Không cần thanh toán trước</p>
						<p class="cancel-policy__sub-content">- thanh toán tại chỗ</p>
					</div>
					<p class="result-block__room-detais__hot-sale">Chỉ còn duy nhất 1 phòng có giá này trên trang!!!</p>
				</div>
			</div>
		</div>
		<div class="result-block__infor">
			<div class="result-block__cus-rate">
				<div class="result-block__cus-rate__content">
					<p class="result-block__cus-rate__main-content">
						<% if(result.room_avg_rating >= 9 && result.room_avg_rating <= 10) { %> Trên cả tuyệt vời
						<% } else if(result.room_avg_rating >= 8 && result.room_avg_rating <= 10) { %> Xuất sắc
						<% } else if(result.room_avg_rating >= 7 && result.room_avg_rating <= 10) { %> Rất tốt
						<% } else if(result.room_avg_rating >= 6 && result.room_avg_rating <= 10) { %> Hài lòng
						<% } else { %> Phù hợp
						<% } %>
					</p>
					<p class="result-block__cus-rate__sub-content"><%= result.room_count_rating %> đánh giá</p>
				</div>
				<div class="result-block__cus-rate__point">
					<p><%= result.room_avg_rating %></p>
				</div>
			</div>
			<div class="result-block__price">
				<p class="result-block__option">1 đêm, <%= result.room_max_adult %> người lớn</p>
				<p class="result-block__origin-price">VND <%= result.room_cost * (1 - result.room_discount) %></p>
				<p class="result-block__discount-price">VND <%= result.room_cost %></p>
				<label for="result-block__discount-price" class="result-block__label">Đã gồm thuế và phí</label>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="#" id="select-button" type="submit" class="form__submit">Xem ngay</a>
				</div>
			</div>
		</div>
	</div>

</div>